<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    <add key="HMIPortName" value="COM3"/>
    <add key="HMIBaudRate" value="9600"/>
    <add key="HMIDataBits" value="8"/>
    <add key="HMIParity" value="None"/>
    <add key="HMIStopBit" value="One"/>
    <add key="MainPortName" value="COM12"/>
    <add key="MainBaudRate" value="9600"/>
    <add key="MainDataBits" value="8"/>
    <add key="MainParity" value="None"/>
    <add key="MainStopBit" value="One"/>
    <add key="TransmissionType" value="HEX"/>
    <add key="HMITimer" value="150"/>
    <add key="MainTimer" value="20"/>
    <add key="TestCount" value="5"/>
   
    
 
  </appSettings>
       

   
</configuration>